<div class="row">
  <h6 class="title col-12   text-info">Add a Book</h6>
  <div class="col-10"></div>
  <button class="btn btn-secondary col-2 " routerLink="/" routerLinkActive="active">Back</button>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-2">
      <label class="form-inline">
        Title
      </label>
    </div>
    <input required="required" class="form-control input-sm" type="text" formControlName="title" />

  </div>
  <div class="row">
    <div class="col-2">
      <label class="form-inline">
        ISBN

      </label> </div>
    <input required="required" class="form-control input-sm" type="text" formControlName="isbn" />

  </div>
  <div class="row">
    <div class="col-2">
      <label class="form-inline">
        keywords
      </label>
    </div>
    <input required="required" class="form-control input-sm" type="text" formControlName="keywords" />

  </div>
  <div class="row">
    <div class="col-2">
      <label class="form-inline">
        Author
      </label>
    </div>
    <input required="required" class="form-control input-sm" type="text" formControlName="author" />

  </div>
  <div class="row">
    <div class="col-2">
      <label class="form-inline">
        Publisher
      </label>
    </div>
    <input required="required" class="form-control input-sm" type="text" formControlName="publisher" />
  </div>

  <hr>
  <div>
    <button class="btn btn-primary" type="submit" [disabled]='!bookForm.valid'>Submit</button>
  </div>

  <br>

  <div class="alert alert-danger" *ngIf="!bookForm.valid">
    <ul>
      <li *ngIf="bookForm.get('title').errors?.required">Title is required</li>
      <li *ngIf="bookForm.get('isbn').errors?.required">ISBN is required</li>
      <li *ngIf="bookForm.get('keywords').errors?.required">Keywords is required</li>
      <li *ngIf="bookForm.get('author').errors?.required">Author is required</li>
      <li *ngIf="bookForm.get('publisher').errors?.required">Publisher is required</li>

    </ul>
  </div>


</form>